@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather:wght@300;400;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

.header{
    background-color: #001a4d;
    height: 4rem;
    width: 100%;
    color: white;
    vertical-align: middle;
    line-height: 4rem;
    padding: 0 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
}

.row{
    --bs-gutter-x: 0;
}

.search-input{
    height: 2rem;
    width: 15rem;
    margin-top: 1rem;
    float: right;
}

.title-type{
    font-size: 20px;
    font-weight: bold;
    color: #001a4d;
}

::placeholder{
    font-size: 25px;
    color: white;
}

.search-input {
    height: 2rem;
    width: 15rem;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}

input[type="text"] {
    font-size: 18px;
    vertical-align: middle;
    line-height: 2rem;
    padding: 0 20px;
    color: white;
    background-color: #001a4d;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-btn{
    height: 2rem;
    font-size: 20px;
    color: white;
    background-color: #001a4d;
    font-family: 'Times New Roman', Times, serif;
    width: 7rem;
    float: right;
    margin-top: 1rem;
    vertical-align: middle;
    line-height: 1.5rem;
    margin-left: 10px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-btn:hover{
    background-color: white;
    color: #001a4d;
}

.side-sect{
    background-color: rgb(231, 231, 231);
    overflow-y: scroll;
    height: calc(100vh - 4rem);
}

.left-top-text{
    font-size: 20px;
    display: table;
    margin: 1rem auto auto auto;
    font-weight: bold;
}

select{
    background-color: transparent;
    border-color: transparent transparent black transparent;
}

.type-sect{
    display: table;
    margin: auto;
    font-weight: bold;
}

.type-box{
    height: 2rem;
    width: 8rem;
    text-align: center;
    background-color: #001a4d;
    color: white;
    border-radius: 15px;
}

.map{
    background-color: bisque;
    height: 38rem;
    padding: 2rem;
    margin: 2rem;
}

.card{
    margin-top: 1rem;
}

.address-box{
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
    display: table;
    background-color: #001a4d;
    color: white;
    vertical-align: middle;
    line-height: 70px;
}

.address{
    width: 80%; 
    height: 70px; 
    text-align: center; 
    font-weight: bold;
    float: left;
}

.weather-img{
    float: right;
    height: 40px;
    width: 100%;
}

.weather-box{
    width: 60px;
    height: 70px;
    float: right;
}


.weather-value-box{
    width: 100%;
    margin-top: 40px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    font-weight: bold;
}