@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Merriweather:wght@300;400;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

.header{
    background-color: #001a4d;
    height: 4rem;
    color: white;
    vertical-align: middle;
    line-height: 4rem;
    padding: 0 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
}

.row{
    --bs-gutter-x: 0;
}

.side-sect{
    background-color: aquamarine;
}

.left-top-text{
    font-size: 20px;
    display: table;
    margin: 1rem auto auto auto;
    font-weight: bold;
}

select{
    background-color: transparent;
    border-color: transparent transparent black transparent;
}

.type-sect{
    display: table;
    margin: auto;
    font-weight: bold;
}

.type-box{
    height: 2rem;
    width: 8rem;
    text-align: center;
    background-color: #001a4d;
    color: white;
    border-radius: 15px;
}

.map{
    background-color: bisque;
    height: 38rem;
    padding: 2rem;
    margin: 2rem;
}