/* --------------------FONTS--------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
/*-----------------------------------------------------*/

/* ---------------------VARIABLES-----------------------*/
:root{
    --header-height: 3rem;

    --main-color: rgb(20, 80, 92);
    --white: white;
    --black: black;

    --font-family: 'Merriweather', serif;
    --h1-size: 1.5rem;
    --h2-size: 1.2rem;
    --h3-size: 1rem;
    --big-font: 2.5rem;
    --normal-font: .93rem;
    --small-font: .81rem;
    --smaller-font: .75rem;

    --font-regular: 400;
    --font-bold: 700;

    --mg-0-25: .21rem;
    --mg-0-5: .5rem;
    --mg-0-75: .75rem;
    --mg-1: 1rem;
    --mg-1-25: 1.25rem;
    --mg-1-5: 1.5rem;
    --mg-2: 2rem;
    --mg-2-5: 2.5rem;

    --z-tooltip: 10;
    --z-fixed: 100;

    --img-transition: .3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
}

@media screen and (min-width: 968px){
    :root{
    --h1-size: 2.25rem;
    --h2-size: 1.75rem;
    --h3-size: 1.25rem;
    --big-font: 4rem;
    --normal-font: 1rem;
    --small-font: .875rem;
    --smaller-font: .813rem;
    }
}

/*---------------------BASE------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--font-family);
    font-size: var(--normal-font);
    background-color: var(--white);
    color: var(--black);
}

h1,h2,h3{
    color: var(--main-color);
    font-weight: var(--font-bold);
    font-family: var(--font-family);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img,video{
    max-width: 100%;
    height: auto;
}

button,input{
    border: none;
    font-family: var(--font-family);
    font-size: var(--normal-font);
}

button{
    cursor: pointer;
}

input{
    outline: none;
}

/* ---------------------------CLASSES------------------------- */

.section{
    padding: 4.5rem 0 2.5rem;
}

.section-title{
    font-size: var(--h2-size);
    color: var(--main-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mg-2);
}

.container{
    max-width: 968px;
    margin-left: var(--mg-1);
    margin-right: var(--mg-1);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/* --------------------------HEADER------------------------ */

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--main-color);
}

/* --------------------------NAV BAR---------------------------*/
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo,.nav-toggle{
    color: var(--white);
}

.nav-logo{
    font-weight: var(--font-bold);
}

.nav-toggle{
    font-size: 1.2rem;
    cursor: pointer;   
}

.nav-menu{
    position: relative;
}

@media screen and (max-width: 765px){
    .nav-menu{
        position: fixed;
        background-color: var(--white);
        right: -100%;
        top: 0;
        width: 70%;
        height: 100%;
        box-shadow: -1px 0 4px grey solid;
        padding: 3rem;
        transition: .4s;
    }
}

.nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav-link{
    color: var(--black);
    font-weight: var(--font-bold);
    text-transform: uppercase;
}

.nav-link:hover{
    color: var(--main-color);
}

.nav-close{
    font-size: 2.5rem;
    position: absolute;
    top: .75rem;
    right: 1rem;
    color: var(--main-color);
    cursor: pointer;
}

.nav-search{
    position: absolute;
    color: var(--main-color);
    cursor: pointer;
}

/* -----------SHOW MENU----------------*/
.show-menu{
    right: 0;
}